.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.background-image {
  background-image: url('../../assets/Home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(10px);
  opacity: 0.8;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 40px;
}

.header {
  font-weight: bold;
  font-size: 5em;
  font-family: 'Merriweather', serif;
  margin-bottom: 60px;
}

.text {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.5px;
  width: 80%;
  font-family: 'Merriweather', serif;
  margin-bottom: 140px;
  text-align: center;
}

.buttons-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #2c3e50;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease;
}

.btn:hover {
  background-color: #34495e;
  transform: scale(1.1);
  border-color: #ecf0f1;
}
